@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Stack+Sans+Text:wght@200..700&display=swap');

.HomePage {
  height: 100vh;
}

:root {
  --background: #ffffff;
  --primary: #3a31e8;
  --secondary: #ffffff;
  --shadow: #3a31e844;
  --hover-shadow: #3a31e86e;
  --hover-text: #dddcdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.stack-regular {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--primary);
  font-size: 16px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Not Found Page Styles
.container-notfound {
  height: 70vh;
  width: 100%;
  flex-direction: column;

  h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 12px;
  }

  p {
    font-size: 1.1em;
    max-width: 500px;
    text-align: center;
  }

  button {
    font-size: 1em;
    margin-top: 24px;
    padding: 15px 20px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
}