header {
    width: 100%;
    height: 95px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    .container-header {
        height: 100%;
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-logo {
            overflow: hidden;

            img {
                height: 60px;
                width: auto;
                object-fit: contain;
            }
        }

        .header-nav li {
            margin: 0 15px;
            list-style: none;
            display: inline-block;
        }

        .header-menu {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            
            .menu-button {}

            .dropdown-menu {
                display: none;

                .dropdown-menu li {}

                .dropdown-menu .menu-line {
                    border-top: 1px solid #e0e0e0;
                    margin: 10px 0;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .container-header {
            .header-logo {
                img {}
            }

            .header-nav {
                li {}
            }

            .header-menu {
                .menu-button {}

                .dropdown-menu {
                    .dropdown-menu li {}

                    .dropdown-menu .menu-line {}
                }
            }
        }
    }

    @media (max-width: 768px) {
        .container-header {
            .header-logo {
                img {}
            }

            .header-nav {
                li {}
            }

            .header-menu {
                .menu-button {}

                .dropdown-menu {
                    .dropdown-menu li {}

                    .dropdown-menu .menu-line {}
                }
            }
        }
    }
}