.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0;
    position: sticky;
    top: 115px;
    left: 0;
    z-index: 995;
    background-color: var(--primary);
    color: var(--secondary);

    .navbar-nav li {
        padding: 0.3em 1em;
        font-size: 1em;
        letter-spacing: 0.8px;
        list-style: none;
        display: inline-block;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--hover-text);
            cursor: pointer;
        }
    }
}